.keyboard {
  margin: 3px auto;
}

.row {
  align-items: center;
  column-gap: 3px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 5px;
  touch-action: manipulation;
}

.cell {
  // align-items: center;
  display: flex;
  // justify-content: center;
  touch-action: manipulation;
}

.button {
  background-color: #818384;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 58px;
  width: 43px;
  max-width: calc(10vw - 7px);

  &.special {
    min-width: 43px;
    max-width: none;
    width: auto;
  }
}

.absent {
  background-color: #3a3a3c;
}

.correct {
  background-color: #538d4e;
}
