@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.board {
  display: grid;
  gap: 5px;
  margin: 0 auto 24px;
  max-width: 100%;
  width: 350px;
}

.row {
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(5, 1fr);

  &.invalid {
    animation: shake 600ms;
  }
}
