.app {
  text-align: center;
}

.heading {
  margin: 8px auto;
}

.message {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 80px;
  transform: translateX(-50%);
  z-index: 3;
}
